<div class="tabcontent">
  <%# started working on card style below %>
  <% @my_items.each do |item| %>
    <div class="wide-card-giveaway">
      <div class="d-flex main-card-body">
        <div class="interior-card-giveaway">
          <div class="item">
            <%= link_to "", item_url(item), class: "nav-link" %>
            <% if item.images.attached?%>
              <img src="<%= cl_image_path(item.images.first.key) %>" alt="image">
            <% else %>
              <%= image_tag unsplash_image_url(tags: item.title), class: "img" %>
            <% end %>
            <div class="item-overlay">
              <h5  id="person1" aria-hidden="true"><%= item.title %></h5>
              <div class="item-body">
                <ul>
                  <li>
                    <p><strong>Categories</strong></p>
                  </li>
                  <li id="item-desc">
                    <p><%= item.tag_list %></p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="interior-description-card-pickup">
          <div class="desc-button-container mb-2">
            <div class="flex-item">
              <p><strong>Location:</strong> <%=  item.user.address%></p>
            </div>
            <div class="flex-item">
              <%= link_to 'Edit', edit_item_path(item), class: "flex-end btn btn-outline-warning m-2" %>
              <%= link_to 'Delete', item_path(item), method: :delete, data: { confirm: 'Are you sure?' }, class: "flex-end btn btn-outline-danger m-2" %>
            </div>
            </div>
            <p><strong>Your availability:</strong> <%= item.timeframe %></p>
            <br>
            <p><strong>Description:</strong> <%= item.description %>

        </div>
      </div>

    </div>

      <div class="d-flex pick-up-info-footer">
          <ul>
            <div class="container">
              <div class="pickup-info-container">
                <% if item.pickup %>
                  <p><%= item.pickup.user.nickname.present? ? item.pickup.user.nickname : item.pickup.user.email %> sent you a request for this item</p>
                  <% if item.pickup.pending? %>
                    <div class="d-flex">
                      <%= simple_form_for item.pickup do |f| %>
                        <%= f.input :status, as: :hidden, input_html: { value: 'Accepted'} %>
                        <%= f.submit 'Accept', class: 'btn btn-info' %>
                      <% end %>
                      <%= simple_form_for item.pickup do |f| %>
                        <%= f.input :status, as: :hidden, input_html: { value: 'Rejected'} %>
                        <%= f.submit 'Reject', class: 'btn btn-light' %>
                      <% end %>
                    </div>
                  <% end %>
                <% if item.pickup.accepted? %>
                  <p class='pickup-tag'>&nbsp<%= item.pickup.status %></p>
                  <div class="d-flex">
                    <%= simple_form_for Review.new, method: :post, url: item_reviews_path(item.id) do |f| %>
                      <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience", input_html: {data: { controller: "star-rating", action: "click->form-submit#submit"} }  %>
                      <%= f.submit 'Rate', class: 'btn btn-info' %>
                    <% end %>
                  </div>
                <% end %>
                <% if item.pickup.rejected? %>
                  <p class='pickup-tag'><%= item.pickup.status %></p>
                <% end %>
                <% if item.pickup.cancelled? %>
                  <p class='pickup-tag'><%= item.pickup.status %></p>
                <% end %>
              <% end %>
              </div>
            </div>
            <div class="pickup-info-container">
              <div class="message-container d-flex mb-2">
                    <% if item.pickup %>
                      <div class="textarea-pickup">
                        <p><strong><%= item.pickup.user.nickname  %>:</strong></p>
                        <p><%= item.pickup.note %></p>
                        <% item.pickup.messages.each do |message| %>
                          <p><%= message.user.nickname %>: <%= message.content %></p>
                        <% end %>
                        <%= render 'messages/reply_form', pickup: item.pickup %>
                      </div>
                    <% end %>
              </div>
            </div>
          </ul>
      </div>
  <% end %>
</div>
