<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="nav-header">
    <%= link_to image_tag("Givr.png"), root_path, class: "navbar-brand logo" %>
    <%= link_to "Givr", root_path, class: "nav-text" %>
  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Items", items_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Give away", new_item_path, class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <%= image_tag "https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/v1648535687/c969odnm57ynpodff7ic.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { "bs-toggle": "dropdown" }, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "Profile",edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to "Dashboard", dashboard_url, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item active">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        </li>
        <li class="nav-item">
          <%= link_to "Items", items_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
