<div class="outer-container">
  <div class="grid">
    <% @my_pickups.each do |pickup| %>
      <div class="item">
      <%= link_to "", pickup_url(pickup), class: "nav-link" %>
          <% if pickup.item.images.attached?%>
            <img src="<%= cl_image_path(pickup.item.images.first.key) %>" alt="image">
          <% else %>
            <%= image_tag unsplash_image_url(tags: pickup.item.title), class: "img" %>
          <% end %>
        <div class="item-overlay">
        <h5  id="person1" aria-hidden="true"><%= pickup.item.title %></h5>
          <div class="item-body">
            <ul>
              <li><p><strong>Description</strong></p></li>
              <li id="item-desc"><p><%= pickup.item.description.truncate(50) %></p></li>
              <li><br></li>
              <li><p><strong>Pick this up</strong><p></li>
              <li><p><%= pickup.item.timeframe %></p></li>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
