

    <% @my_pickups.each do |pickup| %>
        <div class="wide-card">
          <div class="interior-card">
            <div class="item">
              <%= link_to "", pickup_url(pickup), class: "nav-link" %>
              <% if pickup.item.images.attached?%>
                <img src="<%= cl_image_path(pickup.item.images.first.key) %>" alt="image">
              <% else %>
                <%= image_tag unsplash_image_url(tags: pickup.item.title), class: "img" %>
              <% end %>
              <div class="item-overlay">
                <h5  id="person1" aria-hidden="true"><%= pickup.item.title %></h5>
                <div class="item-body">
                  <ul>
                    <li>
                      <p><strong>Description</strong></p>
                    </li>
                    <li id="item-desc">
                      <p><%= pickup.item.description.truncate(50) %></p>
                    </li>
                    <li><br>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="interior-card">
            <div class="container mt-4 px-4">
              <p class='pickup-tag'><strong>Status: </strong><%= pickup.status %></p>
              <% if pickup.pending? %>
                    <div class="d-flex">
                      <%= simple_form_for pickup, method: :delete do |f| %>
                        <%= f.submit 'Cancel', class: 'btn btn-info' %>
                      <% end %>
                    </div>
                  <% end %>
              <br>
              <div class="textarea">
                <p><strong><%= pickup.user.nickname %>:</strong></p>
                <p><%= pickup.note %></p>
              </div>
            </div>
          </div>
      </div>
    <% end %>
