<h1><%= current_user.nickname.present? ? current_user.nickname : current_user.email %>'s dashboard</h1>
<ul class="tabs">
  <li data-tab-target="#my-items" class="<%= params[:tab] != 'pickup' ? 'active tab' : 'tab' %>">My Items</li>
  <li data-tab-target="#my-pickups" class="<%= params[:tab] == 'pickup' ? 'active tab' : 'tab' %>">My Pickups</li>
</ul>

<div class="tabcontent">
  <div id="my-items" data-tab-content class="<%= params[:tab] != 'pickup' ? 'active' : '' %>">
    <h6>My Give Away Items</h6>
    <p><%= @my_items.count %> results</p>
    <%= render 'shared/give-away-cards' %>
  </div>
</div>

<div class="tabcontent">
  <div id="my-pickups" data-tab-content class="<%= params[:tab] == 'pickup' ? 'active' : '' %>">
    <h6>My Pickups</h6>
    <p><%= @my_pickups.count %> results</p>
    <%= render 'shared/pickups-cards' %>
  </div>
</div>
