<div class="container">
  <%= simple_form_for item do |f| %>
    <%= f.input :title, placeholder: 'Item name', error_html: { id: 'password_error' }%>
    <%= f.input :description, as: :text, placeholder: 'Features, weight, dimensions, etc' %>
    <%= f.input :timeframe, required: false, placeholder: 'What times are you typically available to give this item' %>
    <%= f.input :images, as: :file, input_html: { multiple: true }%>
    <h6>Categories:</h6>
    <div class="container" style="" >
      <%= f.input :tag_list, as: :check_boxes, wrapper_html: {class: "column-checkboxes", style: "columns: 100px 4; column-rule: 0px solid"}, label: "", collection: ActsAsTaggableOn::Tag.most_used(10).map {|tag| tag.name} %>
    </div>
    <%# Won´t save, even when not below the checklist input. Raise shows array before save %>

    <%# <%= f.input :tag_list, label: "Other category:", hint: "Add your tags, separated by commas" %>

    <div class="container mb-4">
      <%= f.submit class: "btn btn-success mt-4" %>
    </div>
  <% end %>
</div>

<%#   %>
