<div class="container">
  <%= simple_form_for @item, remote: true do |f| %>
    <%= f.input :title, placeholder: 'Item name', error_html: { id: 'password_error' }%>
    <%= f.input :description, as: :text, placeholder: 'Features, weight, dimensions, etc' %>
    <%= f.input :timeframe, required: false, placeholder: 'What times are you typically available to give this item' %>

    <%= f.input :images, as: :file, input_html: { multiple: true }%>



    <h6>Current categories:</h6>
    <div class="container" style="" >
      <%= f.input :tag_list, as: :check_boxes, wrapper_html: {class: "column-checkboxes", style: "columns: 100px 4; column-rule: 0px solid"}, label: "", collection: @item.tag_list %>
    </div>

    <h6>Add other popular categories:</h6>
    <div class="container" style="" >
      <%= f.input :tag_list, as: :check_boxes, wrapper_html: {class: "column-checkboxes", style: "columns: 100px 4; column-rule: 0px solid"}, label: "", collection: ActsAsTaggableOn::Tag.most_used(10).map {|tag| tag.name} %>
    </div>

    <%# show most popular tags: %>
    <%# ActsAsTaggableOn::Tag.most_used(10).map {|tag| tag.name} %>

    <div class="container mb-4">
      <%= f.submit class: "btn btn-success mt-4" %>
    </div>
  <% end %>
</div>
