<%= form_with url: items_path, method: :get do |f| %>
  <%= f.label :tag, "Search for:" %>
  <%= f.text_field :tag %>
  <%= f.submit "Search" %>
<% end %>

<div class="top-menu">
  <h1>All items</h1>
  <h2><%= @items.count %> results</h2>
</div>

<%= render 'shared/cards' %>
