<div class="search-bar">
  <%= form_with url: items_path, method: :get, class: "form" do |f| %>
    <%= f.text_field :title, placeholder: "What are you looking for?", class: "field" %>
    <%= f.text_field :address, placeholder: "location", class: "field"  %>
    <button class="tag-button" type="button" data-toggle="collapse" data-target="#div1">
      Tags
    </button>
    <%= f.submit "Search", class: "form-button" %>
    <div class="collapse.show" id="div1">
      <div class="checkbox-container">
        <%= f.collection_check_boxes :tag_list, ActsAsTaggableOn::Tag.most_used(10), :name, :name %>
      </div>
    </div>
  <% end %>
</div>

<div class="top-menu">
  <h2><%= @items.count %> results</h2>
</div>

<%= render 'shared/cards' %>
