<%= form_with url: items_path, method: :get, class: "form" do |f| %>
  <%= f.label :tag, "Search for:", class: "label" %>
  <%= f.text_field :tag, placeholder: 'Furniture', class: "field"  %>
  <%= f.submit "Search", class: "form-button" %>
<% end %>

<div class="top-menu">
  <h2><%= @items.count %> results</h2>
</div>

<%= render 'shared/cards' %>
