<div class="container">
  <%# <div class="container min-height-90vh"> %>
  <div class="container-top">
    <div class="card-description card-description-img">
            <% if @item.images.attached?%>
              <img src="<%= cl_image_path(@item.images.first.key) %>" alt="image">
            <% else %>
              <%= image_tag unsplash_image_url(tags: @item.title), class: "img" %>
            <% end %>
    </div>

    <div class="card card-description card-description-left">
      <div class="card-body card-description-text-show">
        <h1 class="title-show"><%= @item.title %></h1>
        <p><span class="h5 font-weight-bold">Description:</span class="h5"></p>
        <p><%= @item.description %></p>
        <p><span class="h5 font-weight-bold">Categories:</span class="h5"></p>
        <p><%= @item.tag_list %></p>
        <p><span class="h5 font-weight-bold">Address:</span class="h5"></p>
        <p><i class="fa-solid fa-hourglass-end"></i><%= @item.user.address %></p>
        <p><span class="h5 font-weight-bold">Pickup Time Frame:</span class="h5"></p>
        <p><i class="fa-solid fa-hourglass-end"></i><%= @item.timeframe %></p>
        <%= link_to "Pickup Request", new_item_pickup_path(@item), class: "btn btn-large btn-success" %>
      </div>

    </div>
    </div>
      <%# for Map %>


  <div class="card card-description card-description-left">
    <div style="width: 100%; height: 400px;"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @markers.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>

  <section id="app">
      <div class="container">
        <div class="row">
          <div class="col-6">
            <div class="comment">
          <p><strong>Comments:</strong>
          <%= render @item.comments.where(parent_id: nil).includes(:user).order(id: :desc) %></p>
          <%= render partial: 'comments/form', locals: { item: @item, parent: nil}%>
            </div><!--End Comment-->
            </div><!--End col -->
            </div><!-- End row -->
        <div class="row">
          <div class="col-6">

          </div><!-- End col -->
        </div><!--End Row -->
      </div><!--End Container -->
    </section><!-- end App -->

  <div class="recommendation-card">
    <h3 style="text-align:center">You might also like</h3>
    <%= render 'shared/recommend-cards' %>
  </div>

</div>
